$desktop-breakpoint: 1596px;
$laptop-breakpoint: 1280px;
$tablet-breakpoint: 768px;
$mobile-breakpoint: 100%;

$tablet-container-padding: 40px;
$mobile-container-padding: 20px;

$main-font: 'WorkSans', sans-serif;

$main-color: #2f6aec;
$dark-blue-color: #111827;
$gray-color: #6c737f;
$dark-gray: #1f2937;
$text-color: #4b5563;
$white-color: #fff;




$section-padding: 30px;
